// default theme
$dflt-txt-clr: #202020;
$dflt-bg: #fff;
// bg
$bg-1: #f8f8f8;
$bg-2: #f3f3f3;
// system
$system-1: #d6d6d6;
$system-2: #ededed;
$system-3: rgba(255, 255, 255, 0.64);
$system-4: rgba(255, 255, 255, 0.4);
$system-5: rgba(255, 255, 255, 0.16);
// test
$text-1: #929292;
$text-2: #ffffff;
// brand
$brand-1: #eb3333;
$brand-2: #a71010;

:root {
  --dflt-txt-clr: #202020;
  --dflt-bg: #fff;
  --bg-1: #f8f8f8;
  --bg-2: #f3f3f3;
  --system-1: #d6d6d6;
  --system-2: #ededed;
  --system-3: hsla(0, 0%, 100%, 0.64);
  --system-4: hsla(0, 0%, 100%, 0.4);
  --system-5: hsla(0, 0%, 100%, 0.16);
  --text-1: #929292;
  --text-2: #fff;
  --brand-1: #eb3333;
  --brand-2: #a71010;
}