body {
  @include var("background-color", "dflt-bg", $dflt-bg);
}
body,
p,
a,
label,
button {
  @include var("color", "dflt-txt-clr", $dflt-txt-clr);
  font-family: $dflt-fnt-fml;
  font-weight: $dflt-txt-wght;
  font-size: $dflt-txt-sz;
  line-height: $dflt-txt-hght;
  @if $dflt-txt-sz-tb != null {
    @include media("tb") {
      font-size: $dflt-txt-sz-tb;
    }
  }
  @if $dflt-txt-sz-mb != null {
    @include media("mb") {
      font-size: $dflt-txt-sz-mb;
    }
  }
  @if $dflt-txt-hght-tb != null {
    @include media("tb") {
      line-height: $dflt-txt-hght-tb;
    }
  }
  @if $dflt-txt-hght-mb != null {
    @include media("mb") {
      line-height: $dflt-txt-hght-mb;
    }
  }
}
a,
button,
label,
svg,
path {
  // transition: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
  transition: 0.3s;
}
img {
  object-fit: cover;
}
@if $dflt-hvr-nm != null {
  a {
    &:hover {
      @include var("color", $dflt-hvr-nm, $dflt-hvr-clr);
    }
  }
}
